header
	.grid-container
		.grid-row
			nav.col
				.logo
					img(src="../img/dogeIcon.png" alt="small shiba inu dog as mascot")
				.links
					a(href='/applications/new') Apply Naow!
					br
					a(href='/applications') See Applications!