doctype html
html.no-js(lang='')
  head
    include ./partials/head.jade
  body
    .container
        include ./partials/header.jade
        include ./partials/body_top.jade
        h2 Such Applications, many credit scores, so hip.
        p= thanks
        ul.applications
            each application in applications
                li.application
                    =application.name 
                    |  who is 
                    =application.age 
                    |  and is a 
                    =application.profession
                    |  wants to get a credit card. They can haz?
                    =application.application_id
    include ./partials/footer.jade
    include ./partials/body_bottom.jade
