doctype html
html.no-js(lang='')
  head
    include ./partials/head.jade
  body
    .container
        include ./partials/header.jade
        include ./partials/body_top.jade
        h1 Apply for Doge Card now!
        h2 Such credit. Wow.
        form(method='post', action='/applications')
            input(type='text', name='name' placeholder='name')
            input(type='text', name='age', placeholder='age')
            input(type='text', name='profession', placeholder='profession')
            input(type='submit' value='such submit, wow!')
    include ./partials/footer.jade
    include ./partials/body_bottom.jade