doctype html
html.no-js(lang='')
  head
    include ./partials/head.jade
  body
    .container
        include ./partials/header.jade
        include ./partials/body_top.jade
        .grid-container
            .grid-row
                .col
                    h2 
                        | Such Application by 
                        = application.name
                    p What you said when you applied!
                    ul
                        li Your age: #{ application.age }
                        li Your profession: #{ application.profession }
                    p Other Things
                    ul
                        li Your application_id: #{ application['application_id'] } (save this!)
                    if application.application_reviewed && application.application_approved
                        .alert.success Your application has been evaluated and you have been approved! Yay! Expect your doge card shortly! We'll find you somehow!
                    else if application.application_reviewed && !application.application_approved
                        .alert.error Your application has been reviewed and unfortunately we no can offer credit at this time!
                    else if !application.application_reviewed && !application.application_approved
                        .alert.notification We're evaluating your application, a trained Doge specialist will let you know ASAP!
                    a(href='/applications', class="back-btn") Back to Applications List
                    a(href='/applications/new', class="back-btn") Back to Application
    include ./partials/footer.jade
    include ./partials/body_bottom.jade
