/* alerts */
.alert {
    border: 4px solid;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
    display: inline-block;

    &.success {
        border-color: #00FF6E;
        background-color: #00FF6E;
    }
    &.error {
        border-color:  #D893B0;
        background-color: #ECCBD9;
    }
    &.notification {
        border-color: #BCE2F4;
        background-color: #E1EFF6;
    }
}
