.back-btn {
    float: none;
    border: 4px solid;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
}

.list-button {
    float: left;
    margin-right: 15px;
    border: 2px solid black;
    line-height: 100px;
    text-align: center;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}